
.content__write > div
{
    background: url('/img/dragonfly.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: $Livvic;
    font-size: $font-size-large;
    letter-spacing: 1px;
    padding: $small;
    color: $off-white
}

.content__write > div > img
{
    width: auto;
    height: auto;
    position: relative;

    @media (max-width: $break-point) {
        background-size: cover;
        position: relative;
        top: 0;
        left: $small;
        width: 350px;
        height: auto;
    }
}
.content__write > div > p 
{
    // background: $gold;
    background: transparentize($color: $gold, $amount: .4);
    border-radius: 4px;
    border-left: 4px solid $off-white;
    border-right: 4px solid $off-white;
    padding: $small;
    transition: .3s ease-in-out;
}

.content__write > div > p:hover
{
    color: $gold;
    background: transparent;
    border-left: 4px solid $gold;
    border-right: 4px solid $gold;
    cursor: pointer;
    font-weight: 600;
    padding: $large;

    @media (max-width: $break-point)
    {
        color: $dark-blue;
        background-blend-mode: overlay;
        border-left: 4px solid $dark-blue;
        border-right: 4px solid $dark-blue;
    }
}