.mySlides
{
    display: none;
}

.slides-container
{
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.prev, .next
{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next
{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev
{
    left: 0;
}
.prev:hover, .next:hover
{
    background-color: rgba(255, 255, 255, 0.8);
}

.dot
{
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: $cream;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot-contain
{
    text-align: center;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade
{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade
{
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
