.content-container
{
    margin: auto;
    max-width: 100rem;
    padding: 0 $medium;
} 

.content-container > img
{
    @media (max-width: $break-point) {
        position: relative;
        width: 375px;
        height: auto;
    }
}

.content-shift
{
    align-items: center;
    display: flex;
    justify-content: center;

    @media (max-width: $break-point) {
        flex-direction: column;
    }
}