.content-shift {
    align-items: center;
    display: flex;
    justify-content: center;

    @media (max-width: $break-point) {
        flex-direction: column;
    }
}

.content-container
{
    margin: auto;
    max-width: 100rem;
    padding: 0 $medium;
} 

.image
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image > img 
{
    @media (max-width: $break-point) {
        position: relative;
        width: 320px;
        height: auto;
    }
}