.frame-box 
{
    background: transparent;
    // border: 1px solid $gold;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    height: 60vh;
    padding: 20px;
    position: relative;
    width: 40vw;
}

.frame-box__header 
{
    align-items: center;
    box-sizing: border-box;
    background: transparentize($color: $gold, $amount: 0.9);
    border-radius: 6px;
    border-right: 3px solid $off-white;
    color: gold;
    font-family: $Rune;
    font-size: $medium;
    letter-spacing: 4px;
    padding: $small;
}

.frame-box .order 
{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    width: auto;
    margin-bottom: $medium;
}

.frame-box h3
{
    align-self: center;
    color: $gold;
    justify-self: center;
    letter-spacing: 3px;
    text-align: center;
}

.frame-box > div > div
{
    box-sizing: border-box;
    display: flex;
    letter-spacing: 1px;
    flex-direction: column;
    margin: $small;
    text-align: center;
    width: auto;
}

.frame-box > div > div > span
{
    color: $gold;
    border-radius: 5px;
    box-sizing: border-box;
    border-left: 2px solid $off-white;
    background: transparent;
    background-repeat: none;
    font-family: $Norse;
    font-size: $medium;
    height: inherit;
    letter-spacing: 2px;
    opacity: .89;
    text-align: center;
    padding: $small;
    width: inherit;
}

.frame-box > div > div > code
{
    font-family: $Livvic;
}

.view
{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: space-between;
    margin: $small;
    width: 40vw;
}

.view__special
{
    height: auto;
    width: auto;
}

.view > div
{
    display: flex;
    flex-direction: row;
    height: auto;
    padding: none;
    width: auto;
    line-height: 2;
}