.header
{
    margin-bottom: $small;
    background: rgba($color: $off-white, $alpha: .6);
    border-radius: 6px;
    width: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.5)),
                    url("/img/bg1.jpg");
    // background: transparentize($color: #ebebeb, $amount: 0.9); 
    background-repeat: no-repeat;
    background-size: cover;
}

.header__content
{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: $small 0;

}



.header__title
{
    color: $off-white;
    text-decoration: none;
    // transition: .3s ease;
    margin: $large;
    font-size: $font-size-large;
    letter-spacing: 5px;
    font-family: $Rune;

    h1 {
        margin: 0;
    }
}

.header__title:hover
{
    border-radius: 2px;
    font-weight: 400;
    font-size: $font-size-xlarge;
    letter-spacing: 5px;
    border-bottom: 1px solid $gold;
}