.services-container
{
    background: #ebebeb;
    min-height: 100vh;
    margin: 0;
}

.services
{
    position: relative;
    height: auto;
    font-family: $Livvic;
    font-size: $font-size-large;
    letter-spacing: 4px;
    text-transform: uppercase; 
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px 200px;;
    grid-gap: 2px;

    @media (max-width: $break-point) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        grid-gap: 2px;
        // flex-wrap: wrap;
    }
}

.services > div
{
    position: relative;
    height: 150px;
    width: calc(80%);
    border-radius: 4px;
    background-size: auto;
    margin-bottom: $large;
}

.services__container .overlay
{
    position: absolute;
    background: rgba(0, 0, 0, .91);
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .75s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.services__container:hover .overlay
{
    opacity: 1;
}

.overlay .text
{
    color: $off-white;
    font-family: $Abel;
    text-align: center;
    font-weight: 600;
    font-size: $font-size-large;
    letter-spacing: 6px;
}

.services > div > img
{
    position: relative;
    border-radius: 4px;
    height: 150px;
    width: 100%; 
}

.footer-home
{
    background: #1a1e29;
    border-top: 1px solid $cream;
    min-height: 60vh;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 5px;

    @media (max-width: $break-point) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        grid-gap: 5px;
        // flex-wrap: wrap;
    }

}

.logo > img
{
    // margin: 1.2rem;
    width: auto;
    height: 100px;
    object-fit: cover;
}

.copyright
{
    color: $off-white;
    font-family: $Abel;
    cursor: pointer;
}

.bold
{
    font-family: $Montserrat;
    color: $cream;
    font-size: 40px;
    cursor: pointer;
    letter-spacing: 10px;
}

.thin
{
    font-family: $Montserrat;
    color: $off-white;
    font-size: 22px;
    letter-spacing: 10px;
    cursor: pointer;
}

.explore 
{
    list-style-type: none;
    font-family: $Abel;
    margin: 2.0rem;
    font-size: 12px;
    color: #5f5f5f;
    cursor: pointer;
    padding: $small;
}

.explore > div 
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: $off-white;
    letter-spacing: 0px;
}

.explore li
{
    margin-top: 2.0rem;
    transition: .5s ease;
    cursor: pointer;
}

.explore li:hover
{
    color: $off-white;
}

.mission
{
    background: #1a1e29;
    background: $dark-blue;
    background: #777;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    border-top: 1px solid $cream;
    margin: 0;
}

.mission > div
{
    margin-top: 2.0rem;
}

.state
{
    font-family: $Montserrat;
    font-size: 25px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    padding: $small;
    color: $dark-blue;
}

.sign
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign > a 
{
    font-family: $Montserrat;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 80%;
    height: 50px;
    background: none;
    padding: $small;
    text-align: center;
    color: $off-white;
    border: 4px solid $dark-blue;
    border-radius: 50px;
    transition: .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign > a:hover
{
    background: none;
    border: 3px solid $off-white;
    color: $dark-blue;
    font-weight: 400;
}