.services
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    font-family: $Livvic;
    font-size: $font-size-large;
    letter-spacing: 4px;
    text-transform: uppercase; 
    margin-bottom: $large;
}

.services > div
{
    position: relative;
    height: 150px;
    width: calc(80%);
    border-radius: 4px;
    background-size: auto;
    margin-bottom: $large;
}

.services__container .overlay
{
    position: absolute;
    background: rgba(0, 0, 0, .91);
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .75s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.services__container:hover .overlay
{
    opacity: 1;
}

.overlay .text
{
    color: $off-white;
    font-family: $Abel;
    text-align: center;
    font-weight: 600;
    font-size: $font-size-large;
    letter-spacing: 6px;
}

.services > div > img
{
    position: relative;
    border-radius: 4px;
    height: 150px;
    width: 100%; 
}