.input-group
{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: $large;
    margin-bottom: $medium;

    @media (min-width: $break-point) 
    {
        flex-direction: row;
        margin-bottom: $medium;
    }
}

.input-group__item
{
    background: $gold;
    border: none;
    border-radius: 4px;
    color: $off-white;
    font-family: $Norse;
    font-weight: 600;
    font-size: $large;
    letter-spacing: 2px;
    margin-bottom: $small;
    padding: $medium;
      
    @media (min-width: $break-point) 
    {
        margin-right: $small;
        margin: 0 $small 0 0;
    }
}

.input-group__item:hover
{
    background: $off-white;
    border: 2px solid $gold;
    color: $gold;
    letter-spacing: 2px;
    padding: $medium;
    
}