.lister
{
    box-sizing: border-box;
    background: transparent;
    border-radius: 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-size: cover;
    padding: $small;
    margin: 0;
    width: auto;
    max-height: 80vh;
    
    @media (max-width: $break-point) {
        max-height: 50vh;
        overflow: hidden;
    }
}

.lister > div 
{
    width: 100%;
    border: none;
    color: $gold;
}

.list_container 
{
    background: transparent;
    // border: 2px solid rgba(255, 0, 0, 0.3);
    margin: .7rem;
    width: 250px;
    position: relative;
}

.list_name
{
    text-align: left;
    background: rgba(58, 57, 57, 0.3);
    border: 1px solid rgba(58, 57, 57, 0.3);
    border-radius: 4px;
    padding: 0.4rem;
    font-family: $Norse;
    color: $gold;
    letter-spacing: 3px;
}

.list_input
{
    padding: 0.2rem;
    height: 40px;
    color: $gold;
    background: url('/img/main.png');
    border-radius: 4px;
    display: flex;
    // justify-content: center;
    align-items: center;
}

.lister__btn
{
    background: none;
    border: none;
    cursor: pointer;
    color: $gold;
}





//Scroll Behaviour
.dataScroll {
    overflow-y: scroll;
    scroll-behavior: auto;
}

.dataScroll::-webkit-scrollbar {
    width: $medium;
}




// controller flex;
.view > div
{
    width: 100%;
    display: flex;
}