.profile 
{
    background: url('/img/passports/marques.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid $gold;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}