
.order .indicator > a 
{
    position: relative;
    display: inline-block;
    border-radius: 5px;
    padding: 5px 10px;
    height: 15px;
    color: var(--theme-color);
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    background: var(--theme-color);
    box-shadow: 0 0 10px var(--theme-color),
                0 0 40px var(--theme-color),
                0 0 80px var(--theme-color);
    font-family: consolas;
    top: 10%;
    transition: .75s;
}