.signup_page
{
    background: $off-white;
    font-family: $Montserrat;
    width: 100%;
    min-height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
.signup__container
{
    border: 1px solid $light;
    border-radius: 12px;
    min-height: 600px;
    height: auto;
    padding: $extra;
    display: flex;

    @media (max-width: $break-point) {
        padding: $large;
        border: none;
    }
}

#lastname
{
    padding: 24px 0 0;
}

#confirm
{
    padding: 24px 0 0;
    width: 100%;
}

#confirm > input
{
    width: 94%;
}

#email
{
    padding: 24px 0 0;
    width: 94%;
}

#email > input
{
    width: 100%;
}

#logo
{
    font-size: small;
}

.signup__container h1
{
    font-size: 24px;
    padding: 16px 0 0;
    color: #202124;
    font-family: 'Google Sans','Noto Sans Myanmar UI',arial,sans-serif;
}
.username
{
    font-size: small;
    padding: 10px;
}

.create-account-text
{
    font-family: $Montserrat;
    font-size: large;
    font-weight: 400;
}

.field-container
{
    font-size: 14px;
    padding: 24px 0 0;
    white-space: normal;
    border-left-width: 40px;
    border-right-width: 40px;
    width: 100%;
}

.field-container > div
{
    padding-top: $small;
}

.field-name
{
    letter-spacing: 1px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    @media (max-width: $break-point) {
        flex-direction: column;
    }
}

.field-name input 
{
    position: relative;
    background: none;
    border: 1px solid $light;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
    letter-spacing: 1px;
    transition: ease-in-out, width .35s ease-in-out;

    @media (max-width: $break-point) {
        // width: 100%;
    }
}

.field-name  input:focus
{
    outline: none;
    border: 2.5px solid #4592f7;
}

.icon 
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: $off-white;
}

.icon:hover
{
    background: transparentize($color: $light, $amount: 0.75);
}


.icon i
{
    font-size: large;
}

.right
{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    @media (max-width: $break-point) {
       display: flex;
       justify-content: flex-start;
       align-items: center;
    }
}


.figure
{
    font-size: 14px;
    line-height: 1.4286;
}

.figure figcaption
{
    padding: $small;
}


.account-name
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 48px;
    width: 300px;

    @media (max-width: $break-point)
    {
        display: none;
    } 
}

.next-input
{
    text-decoration: none;
    color: #1a73e8;
    padding: 16px 0 16px;
    display: inline-block;
}

.next-input:hover
{   
    background: transparentize($color: $light, $amount: 0.7);
    border-radius: 10px;
}

.next-field
{
    text-decoration: none;
    background: #1a73e8;
    padding: 10px;
    color: $off-white;
    border-radius: 4px;
    border: 1px solid $light;
    display: inline-block;
    width: 70px;
    text-align: center;
}


.accounts-redirect
{
    display: flex;
    justify-content: space-between;
    padding: 24px 0 0;
}

.language
{
    width: 890px;
    padding: 2.1rem 0 0;

    @media (max-width: $break-point)
    {
        display: inline-block;
        width: auto;
    }
}

.language .privacy
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media (max-width: $break-point) {
        width: auto;
        display: inline-block;
    }
}

.language form
{
    background: none;
}

.language-form
{
    padding: 8px;
    background: whitesmoke;
    border: none;
    outline: none;

    @media(max-width: $break-point)
    {
        font-size: small;
        width: 200px;
    }
}

.language-form > option
{
    background: transparentize($color: $sky, $amount: .65);
    padding: 6px;
}

.language #privacy
{
    position: relative;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 8px;
}

.language span > a
{
    text-decoration: none;
    color: grey;
    font-size: small;
    font-weight: lighter;

    @media(max-width: $break-point)
    {
        font-size: xx-small;
    }
}

// .services {
//     font-family: $Livvic;
//     font-size: $font-size-large;
//     letter-spacing: 1px;
//     text-transform: uppercase;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }

// .services > div
// {
//     position: relative;
//     height: 150px;
//     width: 400px;
//     border-radius: 1px;
//     background-size: auto;
//     // margin-bottom: $large;
// }

// .services__container .overlay {
//     position: absolute;
//     background: rgba(0, 0, 0, .91);
//     height: 100%;
//     width: 100%;
//     opacity: 0;
//     transition: .75s ease;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     cursor: pointer;
// }

// .services__container:hover .overlay {
//     opacity: 1;
// }

// .overlay .text {
//     color: $off-white;
//     font-family: $Abel;
//     text-align: center;
//     font-weight: 600;
//     font-size: $font-size-large;
//     letter-spacing: 6px;
// }

// .services > div > img
// {
//     position: relative;
//     border-radius: 1px;
//     height: 150px;
//     width: 100%;
// }