.table
{   
    border: 1px solid rgba(235, 235, 235, .03);
    height: auto;
    margin-bottom: 1.4rem ;
    padding: 0;
    width: 100%;
    font-family: $Norse;
    font-size: $font-size-small;
    letter-spacing: 4px;
    padding: 0;
}
