.tier
{
    display: flex;
    width: calc(100% - 86px);
    height: auto;
    min-height: 86px;
}

.tier > span
{
    align-items: center;
    background: url('/img/main.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid gold;
    color: $gold;
    content: '';
    display: flex;
    font-family: $Rune;
    font-size: 4.2rem;
    flex-direction: column;
    height: 135px;
    line-height: 2;
    justify-content: center;
    margin-right: $small;
    text-align: center;
    width: 90px;
}

.tier > span .tier__option
{
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 0;
}

.tier > span .tier__option > button
{
    background: none;
    border: none;
    color: $gold;
    cursor: pointer;
    font-size: $small;
    font-family: $Rune;
    margin: auto;
    transition: .3s ease ;
}

.tier > span .tier__option > button:hover
{
    font-size: $large;
}

.tier-list 
{
    background: url('/img/main.png');
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    width: calc(100% - 86px);
    height: auto;
    min-height: 86px;
}

.src-tier-list
{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    width: calc(100% - 80px);
    height: auto;
    min-height: 86px;
}

.src-tier-list > div > img 
{
    @media (max-width: $break-point) {
        background-size: cover;
        position: relative;
        top: 0;
        left: $small;
        width: 65px;
        height: 87px;
    }
}

.rift
{
    display: flex;
    width: calc(100% - 86px);
    height: auto;
    min-height: 100px;
}