.tournament_home
{
    background: $off-white;
    font-family: $Montserrat;
    width: 100%;
    min-height: 100vh;
    position: absolute;
}

.tournament_header
{
    padding: $small;
    margin: $small;
}

.tournament_header .material-icons
{
    font-size: small;
} 

.card-container
{
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: $small;

    @media (max-width: $break-point) {
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }
}

.card
{
    background: white;
    width: 250px;
    max-height: 580px;
    box-sizing: border-box;
    border-radius: 10px;
    padding: $small;
    margin: $small;
    border: 1px solid $light;
    cursor: pointer;
    overflow: hidden;
    box-shadow: inset 2px 2px 1px rgba(255, 255, 255, .2),
    inset -1px -1px 2px rgba(0, 0, 0, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.1),
}

.card-image
{
    position: relative;
    border-radius: 3px;
    background-size: auto;
    border: none;
}

.card-image > img
{
    position: relative;
    border-radius: 4px;
    height: 150px;
    width: 100%;  
}

.card-body
{
    position: relative;
    display: flex;
    flex-direction: column;
    // border: .2px solid $light;
}

.card-body div 
{
    box-sizing: border-box;
    border: .3px solid $light;
    border-radius: 1px;
    padding: 6px;
    margin: 5px;
    background: $light;
    font-size: xx-small;
}

.card-body a
{
    font-size: xx-small;
    background: whitesmoke;
    text-decoration: none;
    padding: $small;
    transition: .5s ease;
    text-align: center;
    border: .3px solid $light;
    margin: $small;
    color: black;
    border-radius: 4px;
    align-self: center;
    width: 20px;
}

.card-body a:hover
{
    background: $sky;
    color: black;
}
