
.universal
{
    margin: $small;
    padding: $small 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 5px;

    @media (max-width: $break-point)
    {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        grid-gap: 5px;
        flex-wrap: wrap;
    }

}

#universal__title
{
    font-size: $font-size-small;
}

#main-input, #main-button
{
    // visibility: hidden;
    display: none;
    cursor: pointer;
}

#main-input::placeholder
{
    color: green;
    text-transform: uppercase;
}

#main-span
{
    cursor: pointer;
}
