@font-face 
{
    font-family: Abel;
    src: url("/fonts/abel/abel-regular.ttf");
}

@font-face 
{
    font-family: Anton;
    src: url("/fonts/anton/Anton.ttf");
}

@font-face 
{
    font-family: Josefin;
    src: url("/fonts/josefin/JosefinSans-regular.ttf");
}

@font-face 
{
    font-family: Lexend;
    src: url("/fonts/lexend/LexendDecaRegular.ttf");
}

@font-face 
{
    font-family: Abel;
    src: url("/fonts/livvic/Livvic-Regular.ttf");
}

@font-face 
{
    font-family: Montserrat;
    src: url("/fonts/montserrat/Montserrat-Regular.ttf");
}

@font-face 
{
    font-family: RuneSlasher;
    src: url("/fonts/rune-slasher/RuneSlasherBold-ZVVZl.otf");
}

@font-face 
{
    font-family: NorseFont;
    src: url("/fonts/norse-font/NorseBold-2Kge.otf");
}

@font-face 
{
    font-family: Metrophobic;
    src: url("/public/fonts/Metrophobic/Metrophobic-Regular.ttf");
}